*.pyc
.vscode
*.sh
/backup
/output
__pycache__

build/
diff_gaussian_rasterization_*.egg-info/
dist/
script/
debugger/
Result_Json/
farm/
ply/
ply_filter/
ply_purning_via_tsdf/
scripts/
track/
tsdf/
release/
data/
model/
shared_memory_test.py

!scripts/colmap_complete_process.sh
!scripts/colmap_mill19_with_known_pose.sh
!scripts/colmap_MVS.sh
watchlog
