*.pyc
.vscode
*.sh
/backup
/output
__pycache__

build/
diff_gaussian_rasterization_*.egg-info/
dist/

!train_scripts/train_garden_mp.sh
!scripts/colmap_complete_process.sh
!scripts/colmap_mill19_with_known_pose.sh
